.blog-post__navigation--next {
  margin-left: auto;
}

.blog-post__body {
  position: relative;
}

.blog-post__heading {
  /* pull headings to the left but use padding to fill it out again */
  /* this lets the hover show the anchor when hovering over the left padding on <body> */
  margin-left: -2rem;
  padding-left: 2rem;

  /* make the heading extra wide (100% + 2rem padding-left + 2rem padding-right) */
  /* this lets the hover show the anchor when hovering over the right padding on <body> */
  width: calc(100% + 4rem);

  display: flex;
  align-items: center;
}

.blog-post__heading-anchor {
  margin-left: -2rem;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 0 1rem;
  text-decoration: none;
}

.blog-post__heading-anchor::before {
  content: '\00a7';
  visibility: hidden;
}

.blog-post__heading:hover .blog-post__heading-anchor::before {
  visibility: visible;
}

.date-time,
.description,
.reading-time {
  color: rgba(0, 0, 0, 0.6);
}

.reading-time {
  display: none;
}
