.code {
  background-color: color(var(--light) alpha(40%));
  border-radius: .25rem;
  line-height: 1.5;
}

.code--block {
  padding: 1rem;
  overflow: auto;
  hyphens: none;
  tab-size: 8;
}

.code--inline {
  padding: .125rem .25rem;
}
