.code {
  background-color: rgb(242, 242, 242) !important; /* Prism JS override */
  border-radius: 4px;
}

.code--block {
  width: 550px;
  margin: 1rem 0 0 -25px !important; /* Prism JS override */
}

.code--inline {
  padding: 2px 4px !important; /* Prism JS override */
  margin: 0 2px;
}
