.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  tab-size: 8;
  hyphens: none;
  background-color: color(var(--lightest) alpha(40%));
  border: none;
  border-radius: .25rem;
  line-height: 1.5;
}

.code--block {
  padding: 1rem;
  overflow: auto;
}

.code--inline {
  padding: .125rem .25rem;
}
