.code {
  background-color: color(var(--lightest) alpha(40%)) !important; /* Prism JS override */
  border: none !important; /* Prism JS override */
  border-radius: 4px !important; /* Prism JS override */
  line-height: 1.5 !important; /* Prism JS override */
}

.code--inline {
  padding: 2px 4px !important; /* Prism JS override */
}
