@import 'normalize.css/normalize.css';

@import './prism-github-theme.css';

@import './animation.css';
@import './blog-list.css';
@import './code.css';
@import './images.css';
@import './tags.css';
@import './utilities.css';

@import './media-queries.css';

:root {
  --dark: #333;
  --mid: #4a4a4a;
  --light: #757575;
  --lightest: #f2f2f2;
  --brand: #007fad;
  --brand-highlight: #005e80;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--dark);
}

* {
  box-sizing: border-box;
}
