@import 'prismjs/themes/prism.css';
@import 'normalize.css/normalize.css';

@import './animation.css';
@import './tags.css';
@import './blog-list.css';
@import './images.css';
@import './utilities.css';
@import './media-queries.css';

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
