@media (max-width: 40rem) {
  html {
    font-size: 16px
  }

  body {
    width: calc(100vw - 2rem);
  }
}

@media (max-width: 20rem) {
  body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
}
