@media (max-width: 1000px) {
  body {
    max-width: 40vw;
  }
}

@media (max-width: 800px) {
  body {
    max-width: 45vw;
  }
}

@media (max-width: 700px) {
  body {
    max-width: 50vw;
  }
}

@media (max-width: 650px) {
  body {
    max-width: 60vw;
  }
}

@media (max-width: 500px) {
  body {
    max-width: 80vw;
  }
}

@media (max-width: 400px) {
  body {
    max-width: 90vw;
  }
}
