@media (max-width: 1000px) {
  .image--large {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

@media (max-width: 560px) {
  body {
    width: 95vw;
  }

  pre[class^=language-] {
    width: 100%;
    margin-left: 0;
  }

  .image--medium {
    max-width: 100vw;
    margin-left: -2.5vw;
  }
}
