@media (max-width: 40rem) {
  html {
    font-size: 16px
  }

  body {
    width: calc(100vw - 2rem);
    padding: 1.5rem;
    margin: 1rem;
  }

  td,
  th {
    padding: .5rem .7rem;
  }

  .blog-post__footer {
    flex-direction: column;
  }

  .blog-post__navigation--next {
    margin-left: 0;
    order: -1;
  }

  .blog-post__navigation--next:not(:only-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 20rem) {
  body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 1rem;
  }
}
