@media print {
  :root  {
    font-size: 14px;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: unset;
  }

  /* hover styles are included because if you hover a link and print it stays */
  /* the hover colour */
  a,
  a:hover {
    color: unset;
    text-decoration: none;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .code {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + p,
  h2 + p,
  h3 + p {
    page-break-before: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  footer,
  .header__home-icon,
  .blog-post__footer,
  [data-language]::before {
    display: none;
  }

  .code {
    border: none;
  }

  .code--inline {
    padding: 0;
  }
}
