.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: #24292e;
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.builtin {
  color: #d73a49;
}

.token.string,
.token.url,
.token.regex,
.token.attr-value {
  color: #032f62;
}

.token.cdata,
.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
  color: #005cc5;
}

.token.tag,
.token.selector,
.token.prolog {
  color: #22863a;
}

.token.function,
.token.namespace,
.token.pseudo-element,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.id,
.token.url-reference .token.variable,
.token.attr-name {
  color: #6f42c1;
}

.token.inserted {
  background-color: #f0fff4;
  color: #22863a;
}

.token.deleted {
  background-color: #ffeef0;
  color: #b31d28;
}

/* markdown things */
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.comment,
.token.blockquote {
  opacity: .75;
}

.token.title {
  font-weight: bold;
  color: #1d3e81;
}

.token.list {
  color: #ed6a43;
}

/* language specific styles */
.language-php {
  /* class properties */
  & .token.property {
    color: #24292e;
  }
}

.language-json {
  /* keys */
  & .token.property {
    color: #032f62;
  }

  /* colons */
  & .token.operator {
    color: #24292e;
  }
}

.language-markup {
  /* the opening "<" to a tag */
  & .token.tag .token.punctuation {
    color: #333;
  }
}
