pre[class^=language-] {
  width: 550px;
  margin-left: -25px;
}

/* Prism selector override and code tags without Prism */
pre[class*=language-],
code:not([class^="language-"]),
:not(pre) > code[class*=language-] {
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
}
