:root {
  --punctuation: var(--dark);
  --keyword: hsl(354, 66%, 54%);
  --string: hsl(212, 94%, 20%);
  --property: hsl(212, 100%, 39%);
  --tag: hsl(134, 60%, 33%);
  --function: hsl(261, 51%, 51%);
  --inserted-background: hsl(136, 100%, 97%);
  --inserted: hsl(136, 60%, 33%);
  --deleted-background: hsl(353, 100%, 97%);
  --deleted: hsl(356, 72%, 41%);
  --list: hsl(14, 83%, 60%);
}

.dark-mode {
  --punctuation: var(--dark);
  --keyword: hsl(354, 80%, 64%);
  --string: hsl(212, 94%, 80%);
  --property: hsl(212, 100%, 69%);
  --tag: hsl(134, 60%, 63%);
  --function: hsl(261, 51%, 71%);
  --inserted-background: hsl(136, 60%, 33%);
  --inserted: hsl(136, 100%, 97%);
  --deleted-background: hsl(356, 72%, 41%);
  --deleted: hsl(353, 100%, 97%);
  --list: hsl(14, 83%, 60%);
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: var(--punctuation);
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.builtin {
  color: var(--keyword);
}

.token.string,
.token.url,
.token.regex,
.token.attr-value {
  color: var(--string);
}

.token.cdata,
.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
  color: var(--property);
}

.token.tag,
.token.selector,
.token.prolog {
  color: var(--tag);
}

.token.function,
.token.namespace,
.token.pseudo-element,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.id,
.token.url-reference .token.variable,
.token.attr-name {
  color: var(--function);
}

.token.inserted {
  background-color: var(--inserted-background);
  color: var(--inserted);
}

.token.deleted {
  background-color: var(--deleted-background);
  color: var(--deleted);
}

/* markdown things */
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.comment,
.token.blockquote {
  opacity: .75;
}

.token.title {
  font-weight: bold;
  color: var(--dark);
}

.token.list {
  color: var(--list);
}

/* language specific styles */
.language-php {
  /* class properties */
  & .token.property {
    color: var(--punctuation);;
  }
}

.language-json {
  /* keys */
  & .token.property {
    color: var(--string);
  }

  /* colons */
  & .token.operator {
    color: var(--punctuation);
  }
}

.language-markup {
  /* the opening "<" to a tag */
  & .token.tag .token.punctuation {
    color: var(--dark);
  }
}
