html {
  background: #f4f5f5;
  line-height: 1.5;
  font-size: 18px;
}

body {
  margin: 2rem auto;
  padding: 2rem;
  width: 35rem;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, .1);
  border-radius: .25rem;
  border-top: .5rem solid var(--brand);
}

a {
  color: var(--brand);
  text-decoration-skip-ink: auto;
  text-decoration-color: color(var(--brand) alpha(50%));
}

a:hover,
a:focus {
  color: var(--brand-highlight);
  text-decoration-color: color(var(--brand-highlight) alpha(50%));
}

blockquote {
  margin: 1rem 2rem;
}

code {
  font-family: Menlo, Consolas, Courier, monospace;
  font-size: 85%;
}

footer {
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 2rem 0 0;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 1rem;
}

header {
  margin-bottom: 2rem;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid var(--light);
  margin: 2rem 0;
}

small {
  font-size: .8rem;
  color: var(--mid);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}

th {
  font-weight: bold;
  border-bottom: 1px solid var(--light);
}

th,
td {
  padding: .8rem 1rem;
  text-align: left;
  border-right: 1px solid var(--light);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
  border-right: none;
}
