html {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  width: 500px;
  overflow-x: hidden;
}

a {
  color: rgb(0, 127, 173);
  text-decoration-skip-ink: auto;
  text-decoration-color: rgba(0, 127, 173, .5);
}

a:hover,
a:focus {
  color: rgb(0, 94, 128);
  text-decoration-color: rgba(0, 94, 128, .5);
}

blockquote {
  margin: 1rem 2rem;
}

code {
  font-family: Menlo, Consolas, Courier, monospace;
  font-size: 85%;
}

footer {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 2rem 0 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 1rem;
}

header {
  margin-bottom: 4rem;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgb(242, 242, 242);
  margin: 2rem 0;
}

small {
  font-size: .8rem;
  color: #aaa;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}

th {
  font-weight: bold;
  border-bottom: 1px solid rgb(242, 242, 242);
}

th,
td {
  padding: .8rem 1rem;
  text-align: left;
  border-right: 1px solid rgb(242, 242, 242);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
  border-right: none;
}
