:root {
  --dark: #333;
  --mid: #757575;
  --light: gray(229);
  --brand: hsla(211, 90%, 45%, 1);
  --brand-highlight: hsla(211, 90%, 35%, 1);

  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 35rem;
  overflow-x: hidden;
}

a {
  color: var(--brand);
  text-decoration-skip-ink: auto;
  text-decoration-color: color(var(--brand) alpha(50%));
}

a:hover,
a:focus {
  color: var(--brand-highlight);
  text-decoration-color: color(var(--brand-highlight) alpha(50%));
}

blockquote {
  margin: 1rem 2rem;
}

pre,
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

footer {
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 2rem 0 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.1rem;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 1rem;
}

header {
  margin-bottom: 2rem;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 4px solid var(--light);
  margin: 2rem 0;
}

small {
  font-size: .8rem;
  color: var(--mid);
}

svg {
  stroke: currentColor;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem 0;
}

th {
  font-weight: bold;
  border-bottom: 2px solid var(--light);
}

th,
td {
  padding: .8rem 1rem;
  text-align: left;
  border-right: 2px solid var(--light);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
  border-right: none;
}
