html {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  min-width: 20vw;
  max-width: 35vw;
}

a {
  color: rgb(0, 127, 173);
  text-decoration-skip-ink: auto;
  text-decoration-color: rgba(0, 127, 173, .5);
}

a:hover,
a:focus {
  color: rgb(0, 94, 128);
  text-decoration-color: rgba(0, 94, 128, .5);
}

blockquote {
  margin: 1rem 2rem;
}

code {
  font-family: Menlo, Consolas, Courier, monospace;
  font-size: 85%;
}

/* code tags that don't have Prism syntax highlighting */
code:not([class^="language-"]) {
  padding: 2px 4px;
}

/* Prism selector override and code tags without Prism */
pre[class*=language-],
code:not([class^="language-"]),
:not(pre) > code[class*=language-] {
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
}

footer {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 1rem 0 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

header {
  margin-bottom: 4rem;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgb(242, 242, 242);
}

img {
  max-width: 100%;
}

@supports (max-width: calc(100% - 5vw)) {
  img {
    max-width: calc(100% + 5vw);
    margin-left: -2.5vw;
  }
}

small {
  font-size: .8rem;
  color: #aaa;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

th,
td {
  padding: .8rem 1rem;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
