.block {
  display: block;
}

.text-decoration-none {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.m-t-1\/2 {
  margin-top: .5rem;
}
