{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- https://iconmonstr.com/code-2-png/ -->
  <link rel="icon" type="image/png" href="/favicon.png" />

  {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  {% endif %}

  <link rel="stylesheet" href="/style.css">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>
<body>
  <header>
    {% block heading %}
      <h1>{{ macros::index_link_when_not_index() }}</h1>

      <p class="soft">Software developer from the UK</p>
    {% endblock %}
  </header>

  <main>
    {% block content %}
      <ul class="post-list">
        {% for page in section.pages %}
          <li>
            <h2>
              <a href="/{{ page.slug }}">
                {{ page.title }}
              </a>
            </h2>

            <div class="post-list__date soft">
              {{ macros::display_date(date=page.date) }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endblock content %}
  </main>

  <footer>
    <span>
      © {{ now() | date(format="%Y") }} {{ macros::index_link_when_not_index() }}
    </span>

    <span class="pull-right">
      <a href="/rss.xml">
        RSS feed
      </a>
    </span>
  </footer>

  <script src="/dark-mode-toggle.js"></script>
</body>
</html>
